.wallet {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
  font-family: monospace;
  font-size: 44px;
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 2px;
  margin: 20px 0;
  -webkit-text-stroke: .3px aqua;
  color: black;
}

h4 {
    background-color: white;
    text-align: center;
    width: 90%;
    overflow-wrap: break-word;
    border-radius: 5px;
    padding: 5px;
}