.g-recaptcha {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input {
    width: 300px;
}

button {
    width: 320px;
}

.faucet-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.tx-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 255, 255, 0.7);
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    border: 1px dashed white;
}